<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16505425247-76ur5lk628gfkr22je5oj1pt8kcsfs2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16505425247-76ur5lk628gfkr22je5oj1pt8kcsfs2t</string>
	<key>API_KEY</key>
	<string>AIzaSyBoFmyS6XD2XwpsaxZiaNrfnmFyK-f5QDM</string>
	<key>GCM_SENDER_ID</key>
	<string>16505425247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenditureManagement</string>
	<key>PROJECT_ID</key>
	<string>expenditure-management-f3ec0</string>
	<key>STORAGE_BUCKET</key>
	<string>expenditure-management-f3ec0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16505425247:ios:581ce61212325962d9faea</string>
</dict>
</plist>